/* 
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top {
    max-width: 100%;
    min-height: 94px;
    padding: 23px 52px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list-item + .menu__list-item {
    margin-left: 50px;
}

.menu__link {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #373A39;
    border-bottom: 1px solid transparent;
    transition: all .5s;
    padding-bottom: 9px;
}

.menu__link:hover{
    border-bottom: 1px solid #FCBB08;
}

.header__content{
    min-height: 752px;
    padding: 307px 0 62px 0;
    background-image: url(../images/Header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__content-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    color: #fff;
    text-align: center;
    margin-bottom: 19px;
}

.header__content-descr{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FCBB08;
    text-align: center;
    margin-bottom: 179px;
}

.header__content-decor{
    width: 26px;
    height: 43px;
    background: url(../images/mouse.png) center center no-repeat;
    margin: 0 auto;
}

.about{
    padding: 143px 0 152px 0;
    background: #F6F8FA;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 75px;
    color: #242121;
    position: relative;
    margin-bottom: 90px;
}

.title::before{
    content: '';
    position: absolute;
    background: #FCBB08;
    width: 60px;
    height: 4px;
    top: 85px;
}

.about__text{
    width: 770px;
    margin-top: 9px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.about__text-p + .about__text-p{
    margin-top: 18px;
}

.expertise{
    padding: 143px 0 164px 0;
}

.expertise__content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.expertise__content-items{
    margin-top: 13px;
}

.expertise__content-item{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 28px;
    position: relative;
    padding-right: 315px;
}
.expertise__content-item::before{
    content: '';
    position: absolute;
    width: 370px;
    height: 2px;
    background-color: #F0F0F0;
    top: -6px;
}

.expertise__content-text{
    width: 770px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.expertise__content-text-p + .expertise__content-text-p{
    margin-top: 18px;
}

.expertise__items{
    display: flex;
    justify-content: space-between;
}

.expertise__item{
    max-width: 370px;
    display: flex;
    align-items: flex-start;
}

.expertise__item-img{
    margin-right: 16px;
}

.expertise__item-box{
    padding: 0 19px;
}

.expertise__item-title{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
}

.expertise__item-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.features{
    min-height: 840px;
    background: #F6F8FA;
    padding: 101px 0 170px 835px;
    background-image: url(../images/features.jpg);
    background-repeat: no-repeat;
}

.features__inner{
    max-width: 470px;
}

.title.features__title{
    padding-right: 100px;
}
.title.features__title::before{
    top: 160px;
}

.features__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.features__text-p + .features__text-p{
    margin-top: 18px;
}

.portfolio{
    padding: 140px 0 0 0;
}

.portfolio__head{
    padding-bottom: 103px;
}

.portfolio__head{
    display: flex;
    justify-content: space-between;
}

.portfolio__buttons{
    margin-top: 30px;
}

.portfolio__btn{
    border: none;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    padding-bottom: 7px;
    border-bottom: 1px solid transparent;
    transition: all .5s;
}

.portfolio__btn:hover{
    border-bottom: 1px solid #FCBB08;
}

.portfolio__btn + .portfolio__btn{
    margin-left: 40px;
}

.portfolio__items{
    min-height: 912px;
}

.portfolio__bottom{
    min-height: 100px;
    padding: 42px 0;
    background-color: #F6F8FA;
    text-align: center;
}

.portfolio__btn-all{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    background: none;
    border: none;
    cursor: pointer;
}

.video{
    min-height: 757px;
    padding: 130px 0 0 0;
    text-align: center;
}

.video__quotes{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 51px;
    padding: 0 394px;
}

.video__quotes-author{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    color: #9E9E9E;
    margin-bottom: 148px;
}

.video__content{
    height: 324px;
    width: 100%;
    background-color: grey;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    position: relative;
}

.statistics{
    min-height: 431px;
    padding: 164px 0 166px;
}

.statistics__inner{
    display: flex;
    justify-content: space-around;
}

.statistics__item-num{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 9px;
}

.statistics__item-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #00B2A0;
}

.slider{
    min-height: 840px;
    padding: 307px 0 116px 0;
    background: #F6F8FA;
}

.slider__item-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    width: 704px;
    margin-bottom: 3px;
}

.slider__item-text{
    font-family: 'Open Sans', sans-serif;
    width: 560px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.team{
    padding: 120px 0 164px 0;
}

.team__items{
    margin-top: 102px;
    display: flex;
    justify-content: space-between;
}

.team__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__item-img{
    margin-bottom: 35px;
}

.team__item-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
    color: #333333;
}

.team__item-position{
    font-family: 'Open Sans', sans-serif;

    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #C2C2C2;
}

.pricing{
    min-height: 1073px;
    background: #F6F8FA;
    padding: 144px 0 162px 0;
}

.pricing__items{
    display: flex;
    justify-content: space-between;
}

.pricing__item{
    padding: 24px 24px 53px;
    width: 370px;
    min-height: 583px;
    background: #FFFFFF;
}

.pricing__item-name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
    margin-bottom: 8px;
}

.pricing__item-rate{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 80px;
    line-height: 109px;
    text-align: center;
    margin-bottom: 51px;
    position: relative;
    color: #242121;
    padding-left: 67px;
}

.pricing__item-rate::before{
    content: '$';
    position: absolute;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    top: 12px;
    left: 92px;
}

.pricing__item-rate span{
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
}

.pricing__list{
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}

.pricing__list-item + .pricing__list-item{
    margin-top: 30px;
}

.pricing__btn{
    border: none;
    display: block;
    margin: 69px auto 0;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #242121;
    cursor: pointer;
}